@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Mve.AppEquipmentCommodityRate.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Mveadmin.Mve.AppEquipmentCommodityRateGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>